@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";
@use "../../styles/global/paragraphs";

.services {
  width: 100%;
  position: relative;
  background-color: $secondaryColor;
  z-index: 250;

  &-brush-green {
    position: absolute;
    top: -3rem;
    left: -5rem;
    right: -5rem;
    height: 8rem;
    z-index: 15;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }
  }

  &-intro {
    max-width: 100rem;
    margin: 2rem auto;
    text-align: center;

    &-title {
      width: 100%;

      h2 {
        color: $whiteColor;
        font-weight: 600;
      }
    }

    &-content {
      width: 100%;

      p {
        @extend .hl-four;
        color: $whiteColor;
      }
    }
  }

  &-slider-wrap {
    position: relative;
    width: 100%;
    z-index: 100000;

    &-brush {
      position: absolute;
      top: -5rem;
      right: -10rem;
      width: 95rem;
      height: 56.8rem;
      z-index: 1;
    }
  }

  &-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 7.5rem;
    margin-bottom: -5rem;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: auto;
    padding: 5rem 5rem 8rem;

    @media (min-width: 768px) {
      max-width: 85vw;
    }

    &-brush {
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 100%;
      z-index: 10;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: 100%;
        object-position: center;
        z-index: 1;
      }
    }

    &-container {
      width: 100%;
      position: relative;
      display: flex;

      justify-content: center;
      flex-wrap: wrap;
      z-index: 11;
    }

    &-title {
      width: 100%;
      margin-bottom: 1.5rem;
      border-bottom: 0.2rem solid $primaryColor;

      h2 {
        margin-bottom: 1.5rem;
      }
    }

    &-steps {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;

      &-step {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc(100%);

        @media (min-width: 768px) {
          width: calc((100% / 3) - 1rem);
          margin: 0 0.5rem;
        }

        &-number {
          width: calc(35% - 2rem);
          margin-right: 2rem;
          text-align: right;
          p {
            @extend .hl-three;
            font-weight: 600;
            text-transform: uppercase;
            color: $primaryColor;
          }
        }

        &-content {
          width: calc(65% - 1rem);
          margin-left: 1rem;

          p {
            @extend .p-two;
            margin: 0;

            &:first-of-type {
              font-weight: 600;
            }
          }
        }
      }
    }

    &-button {
      position: absolute;
      bottom: -7.5rem;
      right: 5rem;
      width: 100%;
      margin-top: 6rem;
      text-align: right;
      z-index: 11;

      @media (min-width: 768px) {
        bottom: -5rem;
      }
    }
  }

  &-image {
    position: relative;
    background-color: $whiteColor;
    width: 100%;
    height: 60rem;

    &-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: 100%;
        z-index: 1;
      }
    }
  }

  &-icons-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    &-item {
      width: calc(100%);
      margin-bottom: 5rem;
      display: flex !important;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 20rem;
      z-index: 150;

      @media (min-width: 768px) {
        width: calc(50%);
        height: 35.7rem;
        margin-bottom: 0;
      }

      @media (min-width: 1025px) {
        height: 35.7rem;
        margin-bottom: 5rem;
        width: calc(33.33333333%);
      }

      &-icon {
        position: relative;
        width: 100%;
        margin: 0rem auto 0;
        z-index: 10;

        img {
          width: 6.3rem;
        }
      }

      &-title {
        position: relative;
        padding: 0 5rem;
        text-align: center;
        z-index: 10;

        h3 {
          @extend .hl-five;
          margin: 0;
          margin-top: 1.5rem;
          color: $whiteColor;
        }
      }

      &-texture {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: calc(24rem / 1);
        height: calc(24rem / 1);

        @media (min-width: 768px) {
          width: calc(36.7rem / 1.2);
          height: calc(35.7rem / 1.2);
        }

        @media (min-width: 1025px) {
          width: calc(36.7rem / 1.2);
          height: calc(35.7rem / 1.2);
          background-color: transparent;
        }

        @media (min-width: 1400px) {
          width: 36.7rem;
          height: 35.7rem;
          background-color: transparent;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: 100%;
          object-position: center;
          z-index: 1;
        }
      }
    }
  }
}
