@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";

.hero-content-small {
  position: relative;
  min-height: 57.5rem;

  &-main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 90rem;
    transform: translate(-50%, -50%);
    z-index: 10;

    &-title {
      h2 {
        font-weight: 600;
        color: $whiteColor;
        text-align: center;
      }
    }

    &-content {
      p {
        @extend .hl-four;
        color: $whiteColor;
        text-align: center;
      }
    }
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
