@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";

.services-slider {
  position: relative;
  z-index: 11;

  .slick-slide {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;

    & > div {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }

  &-slide {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 37rem !important;
    height: 37rem !important;
    // background-color: $pineColor;
    // border-radius: 50%;

    &-icon {
      position: relative;
      width: 100%;
      margin: 4rem auto 0;
      z-index: 10;

      img {
        width: 6.3rem;
      }
    }

    &-title {
      position: relative;
      padding: 0 10rem;
      text-align: center;
      z-index: 10;

      h3 {
        @extend .hl-three;
        color: $whiteColor;
      }
    }

    &-texture {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;

      // @media (min-width: 768px) {
      //   width: calc(36.7rem / 1.2);
      //   height: calc(35.7rem / 1.2);
      // }

      // @media (min-width: 1025px) {
      //   width: calc(36.7rem / 1.2);
      //   height: calc(35.7rem / 1.2);
      //   background-color: transparent;
      // }

      // @media (min-width: 1400px) {
      //   width: 36.7rem;
      //   height: 35.7rem;
      //   background-color: transparent;
      // }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: 100%;
        object-position: center;
        z-index: 1;
      }
    }
  }
}
