@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.services-slider {
  position: relative;
  z-index: 999999999999999999999;

  &-slide {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 35.7rem;

    @media (min-width: 1025px) {
      height: 35.7rem;
    }

    &-icon {
      position: relative;
      width: 100%;
      margin: 0rem auto 0;
      z-index: 10;

      img {
        width: 6.3rem;
      }
    }

    &-title {
      position: relative;
      padding: 0 5rem;
      text-align: center;
      z-index: 10;

      h3 {
        @extend .hl-five;
        margin: 0;
        margin-top: 1.5rem;
        color: $whiteColor;
      }
    }

    &-texture {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: calc(36.7rem / 1);
      height: calc(35.7rem / 1);

      @media (min-width: 768px) {
        width: calc(36.7rem / 1.2);
        height: calc(35.7rem / 1.2);
      }

      @media (min-width: 1025px) {
        width: calc(36.7rem / 1.2);
        height: calc(35.7rem / 1.2);
        background-color: transparent;
      }

      @media (min-width: 1400px) {
        width: 36.7rem;
        height: 35.7rem;
        background-color: transparent;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: 100%;
        object-position: center;
        z-index: 1;
      }
    }
  }
}
