@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";

.hero-callout {
  position: relative;
  min-height: 65rem;

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 4rem);
    padding: 3rem 2rem;
    border-radius: 2.1rem;
    transform: translate(-50%, -50%);
    background: rgba(1, 1, 1, 0.44);
    text-align: center;
    z-index: 10;

    @media (min-width: 768px) {
      width: 100rem;
      padding: 6rem 8rem;
    }

    &-title {
      h2 {
        color: $whiteColor;
        margin-top: 0;
        margin-bottom: 1.4rem;
      }
    }

    &-main {
      p {
        @extend .hl-four;
        color: $whiteColor;
      }
    }
  }

  &-backgroundimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
