---
import Wrapper from "../shared/Wrapper.astro";
import ContactForm from "../sharedReact/ContactForm/ContactForm";
import "./bookConsultation.scss";
---

<div class="book">
  <Wrapper classes="book-wrapper">
    <div class="book-intro">
      <div class="book-intro-title">
        <h2>Book Your Consultation</h2>
      </div>
      <div class="book-intro-content">
        <p>
          Book an appointment with us so we can learn about your goals and
          business.
        </p>
        <p>
          We’ll work with you to create a customized plan and strategy for your
          operation.
        </p>
      </div>
    </div>
    <ContactForm client:only="react" />
  </Wrapper>
</div>
