@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";

.page-hero {
  position: relative;
  width: 100%;
  min-height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;

  @media (min-width: 768px) {
    height: 100vh;
    min-height: 90rem;
  }

  &_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__media {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .page-hero__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    max-width: 95rem;
    margin-top: 20rem;
    margin-bottom: 12rem;
    height: 100%;
    padding: 2rem;
    z-index: 15;

    @media (min-width: 768px) {
      margin-top: 0rem;
    }

    &--center {
      text-align: center;
    }

    &--content-top {
      @media (min-width: 768px) {
        justify-content: center;
      }
    }
  }

  &__title {
    width: 100%;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }

    h1 {
      color: $whiteColor;
      font-weight: 600;
    }
  }

  &__text {
    width: 100%;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }

    p {
      @extend .hl-four;
      color: $whiteColor;
    }
  }

  &__button {
    width: 100%;
    text-align: center;

    @media (min-width: 768px) {
      margin-top: 5rem;
      text-align: left;
    }
  }
}
