@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.post-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &-image {
    position: relative;
    width: 30%;

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-intro {
    width: calc(70% - 2rem);
    margin-left: 2rem;
    padding: 5rem 4rem;
    background-color: rgba(181, 178, 169, 0.4);

    &-title {
      width: 100%;

      h2 {
        a {
          @extend .hl-four;
          color: $pineColor;
          font-weight: 600;
        }
      }
    }

    &-excerpt {
      width: 100%;

      p {
        @extend .p-one;
      }
    }
  }
}
