@use "../../styles/abstracts/" as *;

.hero-content {
  position: relative;
  padding-bottom: 20rem;
  z-index: 100;

  @media (min-width: 768px) {
    padding-bottom: 50rem;
  }

  &__container {
    position: relative;
    text-align: center;
    z-index: 100;
  }

  &__circle-img {
    width: 100%;
    margin-top: -5rem;

    &--main {
      width: 100%;
      max-width: 25rem;

      @media (min-width: 768px) {
        max-width: 39rem;
      }
    }
  }

  &__title {
    margin-top: 5rem;
    h2 {
      color: $secondaryColor;
      font-weight: 600;
    }
  }

  &__background {
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    &--img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }
  }

  &__gradient {
    position: absolute;
    top: 25%;
    bottom: 0%;
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
    z-index: 5;
  }

  &__graphic {
    position: absolute;
    top: 5rem;
    left: 2%;
    width: 70.1rem;
    height: 34.3rem;
    z-index: 101;
  }
}
