@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";
@use "../../styles/global/paragraphs";

.steps {
  position: relative;
  padding: 5rem 0;
  z-index: 115;
  background-color: $blackColor;
  overflow: hidden;

  &.steps-white {
    background-color: $whiteColor;
  }

  &-angle-brush {
    position: absolute;
    bottom: -10rem;
    right: -10rem;
    width: 78.1rem;
    height: 54.34rem;
    z-index: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: 100%;
      object-position: center;
      z-index: 1;
    }
  }

  &-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: auto;
    padding: 5rem 5rem 8rem;

    @media (min-width: 768px) {
      max-width: 85vw;
    }

    &-brush {
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 100%;
      z-index: 10;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: 100%;
        object-position: center;
        z-index: 1;
      }
    }

    &-container {
      width: 100%;
      position: relative;
      display: flex;

      justify-content: center;
      flex-wrap: wrap;
      z-index: 11;
    }

    &-title {
      width: 100%;
      margin-bottom: 1.5rem;
      border-bottom: 0.2rem solid $primaryColor;

      h2 {
        margin-bottom: 1.5rem;
        color: $whiteColor;
      }
    }

    &-steps {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;

      &-step {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc(100%);

        @media (min-width: 768px) {
          width: calc((100% / 3) - 1rem);
          margin: 0 0.5rem;
        }

        &-number {
          width: calc(35%);
          p {
            @extend .hl-three;
            font-weight: 600;
            text-transform: uppercase;
            color: $whiteColor;
          }
        }

        &-content {
          width: calc(65% - 1rem);
          margin-left: 1rem;

          p {
            @extend .p-two;
            margin: 0;
            color: $whiteColor;

            &:first-of-type {
              font-weight: 600;
            }
          }
        }
      }
    }

    &-button {
      width: 100%;
      margin-top: 6rem;
      text-align: center;
      z-index: 11;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        color: $whiteColor;

        span {
          padding-right: 2.5rem;
        }
      }
    }
  }
}
