@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";
@use "../../styles/global/paragraphs";

.article-intro {
  width: 100%;
  margin-top: 2rem;

  @media (min-width: 768px) {
    margin-bottom: 2rem;
  }

  &-image {
    position: relative;
    width: 100%;
    height: 35rem;

    @media (min-width: 768px) {
      width: 30%;
      height: auto;
    }

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-intro {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(70% - 5rem);
      margin-left: 5rem;
      padding: 5rem 4rem;
    }

    &-title {
      width: 100%;
    }

    &-excerpt {
      width: 100%;

      p {
        @extend .hl-four;

        &:last-of-type {
          margin: 0;
        }

        @media (min-width: 768px) {
          margin-bottom: 3.5rem;
        }
      }
    }
  }
}
