@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";

.faqs {
  position: relative;
  padding: 5rem 0;
  background-color: $pineColor;

  &-graphic {
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 6rem;
    z-index: 10;
    @media (min-width: 768px) {
      top: -2rem;
    }
  }

  &-brush {
    position: absolute;
    top: 60rem;
    right: -15rem;
    width: 83.7rem;
    height: 54.4rem;
  }

  &-title {
    width: 100%;
    text-align: center;

    h2 {
      color: $whiteColor;
    }
  }

  &-section {
    position: relative;
    width: 100%;
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: solid 0.1rem $whiteColor;
    z-index: 100;

    &-title {
      width: 100%;

      h3 {
        color: $whiteColor;
      }
    }

    &-category {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.75);
      margin-bottom: 1.7rem;

      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.5rem;

        @media (min-width: 768px) {
          padding: 1.5rem 5rem;
        }

        h3 {
          margin: 0;
          cursor: pointer;
        }

        .faq-category-toggle-icon {
          line-height: 1;
          cursor: pointer;
        }
      }

      &-questions {
        background-color: rgba(255, 255, 255, 1);
        // border-bottom: 1px solid #e0e0e0;
        padding: 0.75rem 0;

        &.open {
          .faq-toggle-icon {
            transform: rotate(45deg);
          }
        }

        &-question {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.5rem;
          cursor: pointer;

          @media (min-width: 768px) {
            padding: 1rem 5.5rem;
          }

          p {
            @extend .p-one;
            margin: 0;
            font-weight: 600;
          }

          .faq-toggle-icon {
            font-size: 1.25rem;
            transition: transform 0.2s ease;
          }
        }

        &-answer {
          padding: 1.5rem;

          @media (min-width: 768px) {
            padding: 0 5.5rem 1.5rem 5.5rem;
          }
          //   overflow: hidden;
          //   transition: max-height 0.3s ease;
          //   max-height: 0;

          p {
            @extend .p-one;
            margin: 0.5rem 0;
          }
        }
      }
    }
  }
}
