@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";
@use "../../styles/global/headlines";

.content-points {
  @media (min-width: 768px) {
    background: linear-gradient(to right, $pineColor 20vw, $whiteColor 20vw);
  }

  .content-points-wrapper {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    @media (max-width: 767px) {
      width: 100%;
      max-width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  &-left {
    position: relative;
    width: calc(100%);
    padding: 10rem 5rem 25rem 2rem;
    background-color: $pineColor;

    @media (min-width: 768px) {
      width: calc(40%);
    }

    &-title {
      h2 {
        color: $whiteColor;
        font-weight: 600;
      }
    }

    &-content {
      p {
        @extend .p-one;
        color: $whiteColor;
      }
    }

    &-button {
      margin-bottom: 2rem;
    }

    &-graphic {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &-right {
    width: calc(100%);
    padding: 10rem 2rem;

    @media (min-width: 768px) {
      width: calc(60%);
    }

    &-title {
      width: calc(100% - 15% - 1rem);
      margin-bottom: 5rem;
      margin-left: auto;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      h2 {
        color: $shadowColor;
      }
    }

    &-points {
      width: 100%;

      &-point {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 3rem;

        &-icon {
          width: calc(100%);
          margin-bottom: 2.5rem;

          @media (min-width: 768px) {
            width: calc(15% - 3rem);
            margin-right: 1rem;
            margin-bottom: 0;
            margin-left: 2rem;
          }

          img {
            max-width: 10rem;
          }
        }

        &-content {
          width: calc(100%);
          text-align: center;

          @media (min-width: 768px) {
            width: calc(85% - 1rem);
            margin-left: 1rem;
            text-align: left;
          }

          h3 {
            margin-top: 0;
            margin-bottom: 0;
          }

          p {
            @extend .hl-four;
          }
        }
      }
    }
  }
}
