@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";

.page-hero-small {
  position: relative;
  width: 100%;
  height: 30vh;
  min-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__media {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .page-hero-small__content {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 100%;
    max-width: 95rem;
    margin-bottom: 12rem;
    height: 100%;
    padding: 2rem;
    z-index: 15;
  }

  &__title {
    width: 100%;
    h1 {
      color: $whiteColor;
      font-weight: 600;
    }
  }
}
