.content-image {
  &-wrapper {
    align-items: center;
  }

  &-content {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(70% - 7rem);
      margin-right: 7rem;
    }
  }

  &-image {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(30%);
    }
  }
}
