@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";

.icon-items {
  background-color: $blackColor;

  &-intro {
    max-width: 105rem;
    padding: 10rem 0 2rem;
    text-align: center;

    p {
      @extend .hl-four;
      color: $whiteColor;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  &-item {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(50%);
    }

    @media (min-width: 1025px) {
      width: calc(33.333333% - 4rem);
      margin: 4rem 2rem;
      padding: 2rem 2rem;
    }

    &:nth-of-type(3n + 1),
    &:nth-of-type(3n + 2) {
      @media (min-width: 1025px) {
        margin-right: 0rem;
        padding-right: 4rem;
        border-right: 0.25rem $shadowColor solid;
      }
    }

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 12rem;

      &-container {
        max-width: 9.5rem;
      }
    }

    &-content {
      width: 100%;

      &-title {
        width: 100%;

        h2 {
          color: $whiteColor;
        }
      }

      &-paragraph {
        width: 100%;

        p {
          color: $whiteColor;
        }
      }
    }
  }
}
