@use "../styles/abstracts/" as *;

.main-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999999999;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &-logo {
    position: relative;
    width: 15rem;
    height: 15rem;
    padding: 0;
    margin-bottom: 2.5rem;
    overflow: hidden;

    @media (min-width: 1025px) {
      width: 12rem;
      height: 12rem;
    }

    @media (min-width: 1150px) {
      width: 12rem;
      height: 12rem;
    }

    @media (min-width: 1250px) {
      width: 22.5rem;
      height: 22.5rem;
    }

    a {
      display: block;
      margin: auto;
    }

    h1 {
      margin: 0;

      span {
        position: absolute;
        left: -999%;
      }
    }
  }

  &-navigation {
    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (min-width: 768px) {
      display: flex;
      width: calc(100% - 22.5rem);
    }
  }

  &-mobile {
    display: block;

    @media (min-width: 769px) {
      display: none;
    }
  }
}
